*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

*.js
!jest.config.js
*.d.ts
node_modules

.idea

# Parcel default cache directory
.parcel-cache

